<div th:fragment="modal-delete">
									
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
    	<div class="modal-content">
        	<div class="modal-header justify-content-center bg-light text-primary">
            	<strong>Delete</strong>
            </div>
	        <div class="modal-body text-center">
				Are you sure, you want to delete this Task?
			</div>
	        <div class="modal-footer">
	        	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
	            <a href="" class="btn btn-danger btn-sm" id="delRef">Delete</a>
	        </div>
		</div>
	</div>
</div>




</div>

