<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Index Page</title>
<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
<link rel="stylesheet" type="text/css"
	href="/webjars/bootstrap/css/bootstrap.min.css" />
<script type="text/javascript" src="/webjars/jquery.min.js"></script>
<script type="text/javascript"
	src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!-- <div class="wrapper"> -->
<!-- <div th:replace="fragments/header :: header"></div> -->
<div class="container">
	<div class="row justify-content-center ">
		<div class="col-md-4">
<!-- 			<div class="card mt-4" > -->
<!-- 				<div class="card-body bg-light text-center" > -->
<!-- 			    	<span ><strong>Todo Application</strong></span> -->
<!-- 			    </div> -->
<!-- 			</div> -->
			<div class="text-center mt-5">
			    <h2><strong>	<span class="text-primary">To-do list</span></strong></h2>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<div class="row justify-content-center  mt-4">
		<div class="col-md-4">
			<div class="card ">
          		<div class="card-header text-center">
            	<h4>Login</h4>
          		</div>        		
				<div class="card-block p-3">		
					<div class="alert alert-danger" th:if="${param.error}">
						<h6 class="text-center">Invalid email or password</h6>
					</div>
						
					<form th:action="@{/login}"  method="post">
						<div class="input-group input-group-sm">
							<div class="input-group-prepend" >
	  				    		<span class="input-group-text prepend-width">Email</span>
	  				    	</div> 
	  				    	<input type="text" class="form-control form-control-sm"  id="email" name="username"/>
							</div>
						<div class="input-group input-group-sm mt-3">
							<div class="input-group-prepend" >
	  				    		<span class="input-group-text prepend-width">Password</span>
	  				    	</div>  
							<input type="password" class="form-control form-control-sm" id="password"  name="password"/>
						</div>
						<div class="form-check mt-3">
							<input class="form-check-input remember-me" type="checkbox" id="remember-me" name="remember-me">
							 <span><small>Remember me</small></span>
						</div>
						
						<div class="row justify-content-center">
							<input type="submit" value="Login" class="btn btn-primary btn-sm mt-3" />
						</div>
					</form>
					<hr>
					<div class="row justify-content-center"><small>Don't have an account? <a id="sign-up" href="/register">Sign up here</a></small></div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- </div> -->
<!-- Footer -->
<!-- <div th:replace="fragments/footer :: footer"></div> -->
<!-- Footer -->

</body>
</html>

