<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.standalone.min.css">

	<link rel="stylesheet" type="text/css" href="/webjars/font-awesome/5.14.0/css/all.css">
    <title>Todo list</title>
  </head>
  <body>
    <div class="wrapper">
    
    <div th:replace="fragments/header :: header"></div>
   	
   	<!-- Create a new task and summary -->
	<div th:replace="fragments/create-task :: create-task"></div>
    
    <!-- Page size, type of view, sort by, search  --> 
	<div th:replace="fragments/display-toolbar :: display-toolbar"></div>
	
	<!-- Information when there are no tasks -->
	<div th:replace="fragments/information :: information"></div>

	<!-- Display cards -->
	<div th:replace="fragments/display-cards :: display-cards"></div>

	<!-- Display table -->		
	<div th:replace="fragments/display-table :: display-table"></div>
     
    <!-- Modal for removing task -->
	<div th:replace="fragments/modal-delete :: modal-delete"></div>

	<!-- Modal form for update task-->
	<div th:replace="fragments/modal-update :: modal-update"></div>

	<!-- Pagination -->		
	<div th:replace="fragments/pagination :: pagination"></div>
	
    <!-- Footer -->
    <div th:replace="fragments/footer :: footer"></div> 


    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" type ="text/javascript"></script>
	<script src="../static/js/main.js" th:src="@{/js/main.js}" type ="text/javascript"></script>
	<script src="/webjars/font-awesome/5.14.0/js/all.js" type ="text/javascript"></script>


	<script th:inline="javascript">
	
	
    $('.deadline-create, .datepicker-start, .datepicker-end, #deadline').datepicker({
        autoclose: true,
        todayHighlight: true,
   		format: "yyyy-mm-dd"
    });
	
    $('.deadline-create').datepicker("setDate", new Date());
    $('.deadline-create').datepicker("setStartDate", new Date());

    var userCreated = [[${#dates.format(createdUserDate, 'yyyy-MM-dd')}]];
    $('.datepicker-start, #deadline').datepicker("setStartDate", '' + userCreated);
    
    var deadlineStart = [[${#dates.format(dStart, 'yyyy-MM-dd')}]];
    $('.datepicker-end').datepicker("setStartDate", '' + deadlineStart);
    
    var deadlineEnd = [[${#dates.format(dEnd, 'yyyy-MM-dd')}]];
    $('.datepicker-start').datepicker("setEndDate", '' + deadlineEnd);     

    
	</script>
  </body>
</html>
