<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Registration page</title>
  </head>
  <body>
  <div class="wrapper">
	<div class="container ">
	  <div class="text-center mt-5"> 
		<h2><strong><span class="text-primary">To-do list</span></strong></h2>
	  </div>
	  <div class="row justify-content-center  mt-4"> 
	    <div class="col-12 col-sm-10 col-md-8 col-lg-5">
		  <div class="card">
	        <div class="card-header text-center bg-primary text-white">
	          <h4>Sign up</h4>
	        </div>        		
			<div class="card-block p-3">				
			  <div class="text-center text-danger" th:if="${exist}">					
				<h6 >User with this email already exists</h6>
			  </div>
			  <form th:action="@{/register}" th:object="${user}" method="post">
				<div class="input-group input-group-sm mt-3 " > 
				  <div class="input-group-prepend" >
		  			<span class="input-group-text prepend-width">Name</span>
		          </div>   
					<input type="text" class="form-control form-control-sm" id="name" th:field="*{name}">
				</div>	
					<small><span class="text text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span></small>
							
				<div class="input-group input-group-sm mt-3"> 
				  <div class="input-group-prepend" >
		  			<span class="input-group-text prepend-width">Email</span>
		  		  </div> 
					<input type="email" class="form-control form-control-sm" id="email" th:field="*{email}">
				</div>
					<small><span class="text text-danger" th:if="${#fields.hasErrors('email')}"	th:errors="*{email}"></span></small>
	
				<div class="input-group input-group-sm mt-3"> 
				  <div class="input-group-prepend" >
		  		    <span class="input-group-text prepend-width">Password</span>
		  		  </div>  
					<input type="password" class="form-control form-control-sm" id="password" th:field="*{password}">
				</div>
					<small><span class="text text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span></small>
													
				<div class="row justify-content-center">
					<input type="submit" value="Sign up" class="btn btn-primary btn-sm mt-3" />
				</div>
			  </form>	
			  <hr>
			<div class="row justify-content-center"><small><a id="sign-up" href="/">Back to login</a></small></div>						
		  </div>
		</div>
		</div>
	  </div>
	</div>
  </div>
	
  <!-- Footer -->
  <div th:replace="fragments/footer :: footer"></div> 
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>

</html>

